.about {

  width: 90%;
  max-width: 1000px;

  margin: 60px auto;

  padding: 50px 30px;

  text-align: center;

  background: #111111;

  border-radius: 20px;

  border: 1px solid rgba(0,191,166,0.3);

  box-shadow: 0 15px 35px rgba(0,191,166,0.12);

}


.about h2 {

  color: #00bfa6;

  font-size: 38px;

  margin-bottom: 25px;

}


.about-icon {

  font-size: 80px;

  cursor: pointer;

  transition: 0.3s;

}


.about-icon:hover {

  transform: scale(1.1);

}


.about h3 {

  color: white;

  font-size: 26px;

  margin-top: 20px;

}


.about p {

  color: #ffffff;

  max-width: 700px;

  margin: 20px auto;

  line-height: 1.8;

  font-size: 18px;

}



/* Responsive */

@media(max-width:768px){

  .about {

    width: 95%;

    padding: 30px 20px;

  }


  .about h2 {

    font-size: 30px;

  }


  .about h3 {

    font-size: 22px;

  }


  .about p {

    font-size: 16px;

  }

}